.git
.github
.works
docs
node_modules
web/node_modules
web/dist
tests
examples
sites-available
sites-enabled
sites-example
snippets
conf.d
logs
ssl
*.swp
*.swo
.env
.env.*
Dockerfile*
compose*.yaml
compose*.yml
